* {
	font-family: 'Source Sans Pro', sans-serif;
	border: solid 2px black;

}

/*Landing Page Styling*/

#landing {
	background: url("../images/landp.jpg");
	height:680px;
	
}

.content-container {
	background-color: rgba(0,0,0,0.85);
	position: absolute;
	padding: 20px 20px;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);

}

.message {
	word-wrap: break-word;
	white-space: normal;
}


/*Navbar*/

#logo {
	font-size: 30px;
}

.home-button {
	margin-top: 10px;
}


.c-photo {
	width: 80%;
	height: auto;
}

.nav-item {
	width: 80%;
	height: auto;
}

/*Contact Us*/


#submit-contact {
	margin-bottom: 20px;
}

textarea {
	resize: none;
}


/*tablet*/
@media only screen and (max-width: 768px){

}



/*mobile*/
@media only screen and (max-width: 450px){

h1 {

}

}